:root {
    --Height__Video_quangcao : 900px;
    --Height__Banel_Khung_quangcao_Center :320px;
    --Height__Banel_Khung_quangcaodichvu_Center : 110px;
    --Height__Banel_Khung_quangcaosanpham_Sale_Center : 530px;
    --Height__Banel_Khung_sp_banchay_Center : 420px;
    --Height__Banel_Khung_sp_Loa_Center : 530px;
    --Height__Banel_Khung_sp_Tainghe_Center : 520px;
    --Height__Banel_Khung_sp_Gaming_Center : 520px;
    --Height__Banel_Khung_sp_Amthanhgiadinh_Center : 520px;
    --Height__Banel_Video_Reviu_Center : 330px;
    --Height__Banel_Tintuc_Center : 520px;
}


main {    
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: var(--Maunen);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 


._Video_Banel_Quangcao {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_1000);
    grid-template-rows: var(--Height__Video_quangcao);
}

._Banel_Quangcao_Khung1 {
    position: relative;
    grid-column: 1/2;    
    grid-template-rows: 100vh;
}

._Banel_Quangcao_Khung1 video {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover; 
}

   
/*  */
._Banel_Hinhquangcao {
    grid-column: 1/2;
    grid-row: 2/3;
}

._Banel_Khung_quangcao_Center {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Khung_quangcao_Center);
}

._Banel_IMG_1 {
    grid-column: 1/2;
    background-color: var(--Maunen);
}

.Hinhquangcao1_ {
    width: 46%; height: 270px;
    float: left; margin: 1.8% 2%;
    overflow: hidden; 
    position: relative;
}

.Hinhquangcao1_ video {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border: 6px solid white;
    object-fit: cover; /* Đảm bảo video lấp đầy phần tử chứa mà không bị biến dạng */
}

/* Banner quảng cáo dịch vụ */


.KHUNG_QUANGCAO_Dichvu {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Khung_quangcaodichvu_Center);
}

.Body_Dichvu {
    grid-column: 1/2;
    grid-row: 100vh;
    background-color: var(--Maunen);
}

._iTEM_Duchvu {
    position: relative;
    width: 30%; height: 100%;
    float: left; margin: 0px 1.55%;
}

.IMG_Dichvu img {
    position: absolute;
    width: 50px; height: 50px;
    left: 5%; top: 25%;
}

._iTEM_Duchvu span {
    position: absolute;
    left: 22%; top: 38%;
    font-size: 20px;
    color: rgb(75, 77, 78);
}




/* Khug sale */

.KHUNG_SP_SALE {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_1000);
    grid-template-rows: var(--Height__Banel_Khung_quangcaosanpham_Sale_Center);
    background-color: var(--Maunenvienngoai);
}


.Body_Sale {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Khung_quangcaosanpham_Sale_Center);
    background-color: var(--Maunenvienngoai);
}

.Body_Sale_Center {
    position: relative;
    grid-column: 1/2;
    grid-row: 100vh;
    background-color: var(--Maunenvienngoai);
}


.Vanban_Flase span {
    position: absolute;
    color: white; font-weight: bold;
    font-size: 24px;
    left: 20px; top: 4.1%;
}

.Vanbansale_xemtatca span {
    position: absolute;
    right: 2.2%; top: 4%;
    height: auto;
    padding: 4px 12px; font-size: 15px;
    color: white; border: 1px solid white;
    border-radius: 3px;
}

.Khung_Time {
    position: absolute;
    left: 14%; top: 2.8%;
    width: 160px; height: 40px;
}

.Time {
    position: relative;
    width: 30%; height: 96%;
    background-color: white;
    margin: 0.5% 1.5%; float: left;
    text-align: center; border-radius: 5px;
    font-size: 26px; line-height: 40px;
}



.Sanpham_Sale {
    position: relative;
    width: 24%; height: 83%;
    background-color: rgb(255, 255, 255);
    float: left; border-radius: 10px;
    margin: 5% 0.5% 1% 0.5%;
}

.Anhsp_Sale img {
    position: absolute;
    width: 100%; height: 74%;
    border-radius: 10px 10px 0px 0px;
    transition: transform 1.2s;
}

.Sanpham_Sale span {
    position: absolute;
    width: 95%; height: 10%;
    font-size: 18px; color: rgb(75, 77, 78);
    top: 79%; left: 2.5%;
}

._Giasp_sale span {
    position: absolute;
    width: 50%; height: 5%;
    font-size: 18px; color: red;
    top: 90%; left: 2.5%;
    font-weight: bold;
}

.Sanpham_Sale:hover img {
    transform: scale(1.062);
    transition: transform 1.2s;
}

.Sanpham_Sale {
    overflow: hidden;
}




/* Khung sản phẩm bán chạy */

.KHUNG_SP_BANCHAY {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Khung_sp_banchay_Center);
}

.Body_Banchay {
    position: relative;
    grid-column: 1/2;
    background-color: var(--Maunenvienngoai);
    margin: 26px 0px; border-radius: 10px;
}

.Body_Banchay span{
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    color: white;
    left: 40%;
    line-height: 50px;
}

.Khung_Item_spbanchay {
    position: relative;
    width: 30%; height: 80%;
    margin: 3.6% 1.4% 0% 1.4%;
    float: left;
}


.Danhmuc_top_banchay span {
    position: absolute;
    left: 5%; top: 3%;
    color: white; font-size: 18px;
}


._Sanpham_banchay {
    position: absolute;
    top: 70px; left: 10px;
    width: 90%; height: 70%;
}

.Sanphanbc {
    position: relative;
    width: 100%; height: 48%;
    margin: 3% 0px;
}

.Anh_sp_banchay img {
    position: absolute;
    width: 80px; height: 80px ;
    left: 1%; top: 10%;
    border-radius: 10%;
}

.Namesp_top_sp {
    position: absolute;
    left: 27%; top: 10%;
    width: 270px; height: 80px;
    color: white; font-size: 18px;
}














/* Khung sản phẩm loa */

.KHUNG_SP_LOA {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Khung_sp_Loa_Center);
}

.Body_SP_Loa {
    position: relative;
    grid-column: 1/2;
    margin-bottom: 10px;
}

.Tieude_Loa span {
    position: absolute;
    font-size: 26px;
    color: black;
    left: 2.6%;
}

.Loai_Loa {
    position: absolute;
    width: auto; height: auto;
    left: 2.2% ;top: 40px;
} 

.Ten_Loailoa {
    position: relative;
    width: 90px; height: 100%;
    padding: 7px 0px;
    background-color: rgba(211, 211, 211, 0.297);
    margin: 0px 6px; border-radius: 3px;
    text-align: center; color: black;
    float: left;
}

.Muiten svg {
    width: 18px; height: 18px; color: rgb(108, 108, 108);
    background-color: rgb(231, 231, 231);
    border-radius: 50%; font-size: 16px;
    padding: 12px;
    z-index: 20;
}

.Phai {
    position: absolute;
    right: 10px; top: 48%;
}

.Trai {
    position: absolute;
    left: 10px; top: 48%;
}

.Khung_Loa {
    position: relative;
    width: 95%; height: 78%;
    background-color: rgb(255, 255, 255);
    margin-top: 6.6%; margin-left: 2.5%;
    overflow: hidden;
}


.Nhom_sp_loa {
    position: absolute ;
    height: 100%;
    display: flex; padding: 0;
    transition: transform 0.6s ease-in-out;
}

.Bo_cuc_sp_loa { 
    width: 320px; height: 97%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.297);
    border: 0.1px solid rgba(153, 153, 153, 0.181);
}

.Anh_sp_Loa {
    width: 100%; height: 70%;
    background-color: white;
    overflow: hidden;
}

.Anh_sp_Loa img {
    width: 100%; height: 100%;
    transition: transform 1.6s;
}

.Ten_sp_Loa span {
    position: absolute; padding-left: 10px;
    width: 300px; color: black;
    font-size: 16px;  margin-top: 10px;
    

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* Giới hạn số lượng dòng là 2 */
        overflow: hidden;
        text-overflow: ellipsis; /* Thêm dấu ... nếu văn bản bị cắt */
}

.Gia_Sp_Loa span {
    position: absolute; padding-left: 10px;
    width: 90%; height: 4%; color: red;
    font-size: 16px;
    line-height: 160px; font-weight: bold;
}

.Congxuat_Loa span{
    position: absolute;
    padding-left: 10px;
    line-height: 190px;
    display: none;
}

.Thanh_chuyen {
    opacity: 0;
    transition: opacity 1s;
}

.Khung_Loa:hover .Thanh_chuyen {
    opacity: 1;
}

.Bo_cuc_sp_loa:hover .Anh_sp_Loa img {
    transform: scale(1.08);

}













/* Khung sản phẩm tai nghe */


.KHUNG_SP_TAINGHE {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Khung_sp_Tainghe_Center);
}

.Body_SP_Tainghe {
    position: relative;
    grid-column: 1/2;
    /* background-color: rgb(211, 211, 211); */
}

.Tieude_Tainghe span {
    position: absolute;
    font-size: 26px;
    color: black;
    left: 2.6%;
}

.Loai_Tainghe {
    position: absolute;
    width: auto; height: auto;
    left: 2.2% ;top: 40px;
} 

.Ten_Tainghe {
    position: relative;
    width: 90px; height: 100%;
    padding: 7px 0px;
    background-color: rgba(211, 211, 211, 0.297);
    margin: 0px 6px; border-radius: 3px;
    text-align: center; color: black;
    float: left;
}

.Muiten svg {
    width: 18px; height: 18px; color: rgb(108, 108, 108);
    background-color: rgb(231, 231, 231);
    border-radius: 50%; font-size: 16px;
    padding: 12px;
    z-index: 20;
}

.Phai_Tainghe {
    position: absolute;
    right: 10px; top: 48%;
}

.Trai_Tainghe {
    position: absolute;
    left: 10px; top: 48%;
}

.Khung_Tainghe {
    position: relative;
    width: 95%; height: 78%;
    background-color: rgb(255, 255, 255);
    margin-top: 6.6%; margin-left: 2.5%;
    overflow: hidden;
}


.Nhom_sp_Tainge {
    position: absolute ;
    height: 100%;
    display: flex; padding: 0;
    transition: transform 0.6s ease-in-out;
}

.Bo_cuc_sp_tainghe { 
    width: 320px; height: 97%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.297);
    border: 0.1px solid rgba(153, 153, 153, 0.181);
}

.Anh_sp_Tainghe {
    width: 100%; height: 70%;
    background-color: white;
    overflow: hidden;
}

.Anh_sp_Tainghe img {
    width: 100%; height: 100%;
    transition: transform 1.6s;
}

.Ten_sp_Tainghe span {
    position: absolute; padding-left: 10px;
    width: 300px; color: black;
    font-size: 16px;  margin-top: 10px;
    

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* Giới hạn số lượng dòng là 2 */
        overflow: hidden;
        text-overflow: ellipsis; /* Thêm dấu ... nếu văn bản bị cắt */

}

.Gia_Sp_Tainghe span {
    position: absolute; padding-left: 10px;
    width: 90%; height: 4%; color: red;
    font-size: 16px;
    line-height: 160px; font-weight: bold;

}

.Congxuat_Tainghe span{
    position: absolute;
    padding-left: 10px;
    line-height: 160px;
    display: none;
}

.Thanh_chuyen {
    opacity: 0;
    transition: opacity 1s;
}

.Khung_Tainghe:hover .Thanh_chuyen {
    opacity: 1;
}

.Bo_cuc_sp_tainghe:hover .Anh_sp_Tainghe img {
    transform: scale(1.08);
}


/* Khung sản phẩm gaming */

.KHUNG_SP_GAMING {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Khung_sp_Gaming_Center);
}


.Body_SP_Gaming {
    position: relative;
    grid-column: 1/2;
}

.Tieude_Gaming span {
    position: absolute;
    font-size: 26px;
    color: black;
    left: 2.6%;
}

.Loai_Gaming {
    position: absolute;
    width: auto; height: auto;
    left: 2.2% ;top: 40px;
} 

.Ten_Gaming {
    position: relative;
    width: 190px; height: 100%;
    padding: 7px 0px;
    background-color: rgba(211, 211, 211, 0.297);
    margin: 0px 6px; border-radius: 3px;
    text-align: center; color: black;
    float: left;
}

.Muiten svg {
    width: 18px; height: 18px; color: rgb(108, 108, 108);
    background-color: rgb(231, 231, 231);
    border-radius: 50%; font-size: 16px;
    padding: 12px;
    z-index: 20;
}

.Phai_Gaming {
    position: absolute;
    right: 10px; top: 48%;
}

.Trai_Gaming {
    position: absolute;
    left: 10px; top: 48%;
}

.Khung_Gaming {
    position: relative;
    width: 95%; height: 78%;
    background-color: rgb(255, 255, 255);
    margin-top: 6.6%; margin-left: 2.5%;
    overflow: hidden;
}


.Nhom_sp_Gaming {
    position: absolute ;
    height: 100%;
    display: flex; padding: 0;
    transition: transform 0.6s ease-in-out;
}

.Bo_cuc_sp_gaming { 
    width: 320px; height: 97%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.297);
    border: 0.1px solid rgba(153, 153, 153, 0.181);
}

.Anh_sp_Gaming {
    width: 100%; height: 70%;
    background-color: white;
    overflow: hidden;
}

.Anh_sp_Gaming img {
    width: 100%; height: 100%;
    transition: transform 1.6s;
}

.Ten_sp_Gaming span {
    position: absolute; padding-left: 10px;
    width: 300px; color: black;
    font-size: 16px;  margin-top: 10px;
    

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* Giới hạn số lượng dòng là 2 */
        overflow: hidden;
        text-overflow: ellipsis; /* Thêm dấu ... nếu văn bản bị cắt */
}

.Gia_Sp_Gaming span {
    position: absolute; padding-left: 10px;
    width: 90%; height: 4%; color: red;
    font-size: 16px;
    line-height: 160px; font-weight: bold;

}

.Congxuat_Gaming span{
    position: absolute;
    padding-left: 10px;
    line-height: 160px;
    display: none;
}

.Thanh_chuyen {
    opacity: 0;
    transition: opacity 1s;
}

.KHUNG_SP_GAMING:hover .Thanh_chuyen {
    opacity: 1;
}

.Bo_cuc_sp_gaming:hover .Anh_sp_Gaming img {
    transform: scale(1.08);
}



























/* khung sản phâm âm thanh gia đình */

.KHUNG_SP_AM_THANH_GIA_DINH {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Khung_sp_Amthanhgiadinh_Center);
}

.Body_SP_Amthanhgiadinh {
    position: relative;
    grid-column: 1/2;
}

.Tieude_Giadinh span {
    position: absolute;
    font-size: 26px;
    color: black;
    left: 2.6%;
}

.Loai_Giadinh {
    position: absolute;
    width: auto; height: auto;
    left: 2.2% ;top: 40px;
} 

.Ten_Giadinh {
    position: relative;
    width: 190px; height: 100%;
    padding: 7px 0px;
    background-color: rgba(211, 211, 211, 0.297);
    margin: 0px 6px; border-radius: 3px;
    text-align: center; color: black;
    float: left;
}

.Muiten svg {
    width: 18px; height: 18px; color: rgb(108, 108, 108);
    background-color: rgb(231, 231, 231);
    border-radius: 50%; font-size: 16px;
    padding: 12px;
    z-index: 20;
}

.Phai_Giadinh {
    position: absolute;
    right: 10px; top: 48%;
}

.Trai_Giadinh {
    position: absolute;
    left: 10px; top: 48%;
}

.Khung_Giadinh {
    position: relative;
    width: 95%; height: 78%;
    background-color: rgb(255, 255, 255);
    margin-top: 6.6%; margin-left: 2.5%;
    overflow: hidden;
}


.Nhom_sp_Giadinh {
    position: absolute ;
    height: 100%;
    display: flex; padding: 0;
    transition: transform 0.6s ease-in-out;
}

.Bo_cuc_sp_Giadinh { 
    width: 320px; height: 97%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.297);
    border: 0.1px solid rgba(153, 153, 153, 0.181);
}

.Anh_sp_Giadinh {
    width: 100%; height: 70%;
    background-color: white;
    overflow: hidden;
}

.Anh_sp_Giadinh img {
    width: 100%; height: 100%;
    transition: transform 1.6s;
}

.Ten_sp_Giadinh span {
    position: absolute; padding-left: 10px;
    width: 300px; color: black;
    font-size: 16px;  margin-top: 10px;
    

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* Giới hạn số lượng dòng là 2 */
        overflow: hidden;
        text-overflow: ellipsis; /* Thêm dấu ... nếu văn bản bị cắt */

}

.Gia_Sp_Giadinh span {
    position: absolute; padding-left: 10px;
    width: 90%; height: 4%; color: red;
    font-size: 16px;
    line-height: 160px; font-weight: bold;
}

.Congxuat_Giadinh span{
    position: absolute;
    padding-left: 10px;
    line-height: 160px;
    display: none;
}

.Thanh_chuyen {
    opacity: 0;
    transition: opacity 1s;
}

.KHUNG_SP_AM_THANH_GIA_DINH:hover .Thanh_chuyen {
    opacity: 1;
}

.Bo_cuc_sp_Giadinh:hover .Anh_sp_Giadinh img {
    transform: scale(1.08);
}













/* khung video  */

.KHUNG_VIDEO_REVIU {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Video_Reviu_Center);
}

.Body_Video_Reviu {
    position: relative;
    grid-column: 1/2;
    margin: 10px 0px;
}

.Body_Video_Reviu span {
    position: absolute;
    left: 10px; top: 3px;
    font-size: 26px; color: rgba(0, 0, 0, 0.811);
}


.Khung_Video_Quangcao {
    position: relative;
    margin-top: 40px;
    width: 24%; height: 84%;
    float: left; margin-left: 0.5%;
    margin-right: 0.5%;
    border-radius: 10px;
}


.Khung_Video_Quangcao svg {
    position: absolute;
    width: 45px; height: 45px;
    color: white;
    left: 40%; top: 32%;
    z-index: 10;
}

.Khung_Video_Quangcao img {
    position: absolute;
    width: 100%; height: 77%;
    border-radius: 10px;
    opacity: 1;
    transition: filter 1s;
}

.Khung_Video_Quangcao span {
    position: absolute;
    width: 99%; height: 20%;
    font-size: 17px; color: black;
    left: 2px; top: 205px;
}

.Khung_Video_Quangcao:hover img {
    filter: brightness(50%);
}

/* Khung tin tức */

.KHUNG_VIDEO_TIN_TUC {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--whidth_Center);
    grid-template-rows: var(--Height__Banel_Tintuc_Center);
}


.Body_Tintuc {
    position: relative;
    grid-column: 1/2;
    grid-row: 100vh; margin-bottom: 16px;
}

.Body_Tintuc span {
    position: absolute;
    left: 10px; top: 3px;
    font-size: 26px; color: rgba(0, 0, 0, 0.811);
}

.Tin_tuc_chinh {
    position: absolute;
    top: 48px; left: 12px;
    width: 47%; height: 90%;
    border-radius: 10px;
}

.Tin_tuc_chinh img {
    width: 100%; height: 100%;
    border-radius: 10px;
    z-index: 1;   filter: brightness(80%);
}

.Tin_tuc_chinh span {
    position: absolute;
    z-index: 2; font-size: 18px;
    color: white; width: 96%; height: 25%;
    top: 74%; left: 2.5%;
}


.Khung_Thongtinkhac  {
    position: absolute;
    top: 48px; right: 0px;
    width: 51%; height: 90%;
    border-radius: 10px;
    overflow-y: auto; font-size: 23px;
    border: 0px; padding: 0px;
}

.Thongtin_Tintuc {
    position: relative;
    width: 98%; height: 30.9%;
    margin-left: 1%; margin-bottom: 1.6%;
    float: left;
}

.img_Tintuc {
    position: absolute;
    width: 28%; height: 100%;
    left: 0px; top: 0px;
    overflow: hidden;
    border-radius: 10px;
}

.img_Tintuc img {
    width: 100%; height: 100%;
    border-radius: 10px;
    transition: transform 2s;
}


.Thongtin_Tintuc span {
    position: absolute;
    width: 68%;
    height: 95%;
    overflow: hidden;
    font-size: 19px;
    left: 30%;

    display: block;
    line-height: 1.2; /* Chiều cao dòng */
    max-height: 8.5em; /* Giới hạn chiều cao để hiển thị nhiều dòng, điều chỉnh theo số dòng mong muốn */
    text-overflow: ellipsis;
    padding: 0; /* Loại bỏ padding nếu có */

    /* Công thức tính số dòng
        Số lượng dòng = max-height / line-height
    */
}


.Thongtin_Tintuc:hover {
    filter: brightness(50%);
    transition: filter 1s;
}


.Thongtin_Tintuc:hover img {
    transform: scale(1.06);

}