.Box_Body_Conten {
    top: 20px;
    width: 95%;
    height: 78vh;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}

.Box_Body_Conten table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;  
    overflow: hidden;
}

.Box_Body_Conten thead {
    background-color: tomato; /* Màu đỏ nhạt */
    color: white;
}

.Box_Body_Conten th, 
.Box_Body_Conten td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.Box_Body_Conten tbody tr:hover {
    background-color: #e0e0e0; /* Màu đỏ nhạt khi hover */
}


.Box_Body_Conten img {
    width: 50px; /* Kích thước ảnh nhỏ */
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

/* ✅ Tạo thanh cuộn nếu danh sách dài */
.Box_Body_Conten {
    max-height: 97vh;
    overflow-y: auto;
}

.Box_Body_Conten select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.Box_Body_Conten td i {
    color: red;
    cursor: pointer;
    font-size: 18px;
}

.Box_Body_Conten td i:hover {
    color: darkred;
}
