


<section class="Box_Navication">
    <div class="Box_Loacation_Menu">
        <ul>
            <li value="Admin"><span class="Icon_Navication"><i class="bi bi-person"></i></span><span class="Name_Dom"><a href="/Admin">Admin</a></span></li>
            <li value="Category" ><span class="Icon_Navication"><i class="bi bi-box-seam"></i></span><span class="Name_Dom"><a href="/Category">Category</a></span></li>
            <li value="Product"><span class="Icon_Navication"><i class="bi bi-credit-card-2-front"></i></span><span class="Name_Dom"><a href="/Product">Product</a></span></li>
            <li value="Statistical" ><span class="Icon_Navication"><i class="bi bi-box-seam"></i></span><span class="Name_Dom"><a href="/Inpomation">Order</a></span></li>
            <li value="Statistical" ><span class="Icon_Navication"><i class="bi bi-clipboard-data"></i></span><span class="Name_Dom"><a href="/Statistical">Static</a></span></li>
            <li value="Statistical" ><span class="Icon_Navication"><i class="bi bi-person-gear"></i></span><span class="Name_Dom"><a href="/User">User</a></span></li>
        </ul>

        
    </div>
</section>          