<footer>
    <section class="Body_Footer">
        <section class="Body_Footer_Center">
            <section class="Center_Footer">
                <nav><section class="Chinh_Sach_Thongtin"><table><tr><th>Chính sách hỗ trợ</th></tr><tr><td>🔖 Chính sách bảo hành</td></tr><tr><td>🔖 Chính sách bảo mật</td></tr><tr><td>🔖 Chính sách giao hàng</td></tr><tr><td>🔖 Hướng dẫn mua hàng</td></tr><tr><td>🔖 Hướng dẫn đăng ký</td></tr><tr><td>🔖 Hệ thống cửa hàng</td></tr></table></section><section class="Chinh_Sach_Khachhang"><table><tr><th>Chăm sóc khách hàng</th</tr><tr><td>📲 Liên hệ 0369 594 026</td></tr><tr><td>⏰ Thời gian 08h00 - 17h00</td></tr><tr><td>🗓️ Thứ 2 - Thứ 7 </td></tr></table></section><section class="Thong_Tin_Lienhe"><form action=""><input type="text" placeholder="Bạn có thắc mắc gì ?"><button>Gửi Ngay</button></form></section></nav>
                <nav class="Thong_Tin_Cua_Hang">
                    <span>Thương Hiệu Số 1 Thế Giới</span>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d545.7719419348274!2d106.62922638015253!3d10.876878541883118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529180f3adad3%3A0x7d3971488d0dd553!2zQ2h1bmcgQ8awIEhp4buHcCBUaMOgbmggQ2l0eQ!5e1!3m2!1svi!2s!4v1725477950344!5m2!1svi!2s"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <img src="/Image/Logo_JBL.jpg" alt=""><div class="Lienhe_xh">
                    <div class="I_Con_xh"><a href="#"><img src="/Image/fb.svg" alt=""></a></div><div class="I_Con_xh"><a href="#"><img src="/Image/zalo.svg" alt=""></a></div><div class="I_Con_xh"><a href="#"><img src="/Image/youtobe.svg" alt=""></a></div><div class="I_Con_xh"><a href="#"><img src="/Image/tick.svg" alt=""></a></div></div>
                </nav>
                <span class="Soluongtruycap"></span>
                <span>© 2005-2024 JBL Viet Nam</span>  
            </section>
        </section>
    </section>  
</footer> 