<header>   
    <section class="KHUNG_MENU" id="PT_an_hien">
        <nav class="Header_">
            <div class="_Logo_JBL"><a href="/"><img src="/Upload/Acount/image Admin.jpg" alt=""></a></div>
            <aside class="_Thanhtimkiem_sp_">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Bạn cần tìm gì ?">
                
               
                <div id="Check_Status_Login_False">
                    <div class="DANGKIS"><a href="/Rigister">Đăng kí</a></div>
                    <div class="DANGNHAPS"><a href="/Login">Đăng nhập</a></div>
                </div>
   

            </aside>

            <!-- Bên dưới là trạng thái đã đăng nhập rồi -->
            <div style="display: none;" id="Check_Status_Login_True">
                <div class="IMG_User"><a href="/Acount"><img src="/Upload/Acount/image Acount.jpg" alt=""></a></div>
                <div class="Giohang"><a href="/ShoppingCart"><i class="bi bi-cart2"></i></a></div>
            </div>

            
        </nav>  
    </section>  
  

    <!-- <section class="KHUNG_DANHMUC_SP">
        <nav class="_Khung__Danhmuc">
            <section class="Danhmuc">
                <a href="#"><div class="Hinh_danhmuc"><img src="/Upload/Category/Loa.webp" alt=""></div><div class="Ten_Danhmuc"><span>Loa nghe nhạc</span></div></a>
                <div class="Menu_">
                    <p><a href="">Test</a></p>
                </div>
            </section>

            <section class="Danhmuc">
                <a href="#"><div class="Hinh_danhmuc"><img src="/Upload/Category/Tai nghe.webp" alt=""></div><div class="Ten_Danhmuc"><span>Tai nghe</span></div></a>
                <div class="Menu_"><p><a href="">Loa JBL</a></p><p><a href="">Loa JBL</a></p></div>
            </section>

            <section class="Danhmuc">
                <a href="#"><div class="Hinh_danhmuc"><img src="/Upload/Category/Am thanh gia dinh.webp" alt=""></div><div class="Ten_Danhmuc"><span>Âm thanh gia đình</span></div></a>
                <div class="Menu_"><p><a href="">Loa JBL</a></p><p><a href="">Loa JBL</a></p></div>
            </section>

            <section class="Danhmuc">
                <a href="#"><div class="Hinh_danhmuc"><img src="/Upload/Category/Gaming.webp" alt=""></div><div class="Ten_Danhmuc"><span>Sản phẩm Gaming</span></div></a>
                <div class="Menu_"><p><a href="">Loa JBL</a></p><p><a href="">Loa JBL</a></p></div>
            </section>

            <section class="Danhmuc">
                <a href="#"><div class="Hinh_danhmuc"><img src="/Upload/Category/Loa am thanh chuen nghiep.jpg" alt=""></div><div class="Ten_Danhmuc"><span>Âm thanh lớn</span></div>  </a>
                <div class="Menu_"><p><a href="">Loa JBL</a></p></div>
            </section>
        </nav>
    </section> -->

    
</header>

